public java.lang.String toString() {
final java.lang.StringBuilder sb = new java.lang.StringBuilder("{");
#foreach ($member in $members)
    #if($member.stringArray)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":");
        if (($member.accessor).length > 0) {
            sb.append("[");
            final int stringArrayLength = ($member.accessor).length;
            for (int i = 0; i < stringArrayLength; i++) {
                sb.append("\"").append(($member.accessor)[i]).append("\"");
                if (i < stringArrayLength - 1) {
                    sb.append(",");
                } else {
                    sb.append("]");
                }
            }
        } else {
            sb.append("[]");
        }
        sb.append(',');
    }
    #elseif($member.string || $member.date)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":\"").append($member.accessor).append('\"').append(',');
    }
    #elseif($member.map)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":");
        if (!($member.accessor).isEmpty()) {
            sb.append("{");
            final Set<?> mapKeySet=($member.accessor).keySet();
            for (java.lang.Object mapKey: mapKeySet) {
                final Object mapValue=($member.accessor).get(mapKey);
                sb.append("\"").append(mapKey).append("\":\"").append(java.util.Objects.toString(mapValue,"")).append("\",");
            }
            sb.replace(sb.length() - 1, sb.length(), "}");
        } else {
            sb.append("{}");
        }
        sb.append(',');
    }
    #elseif($member.list)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":");
        if (!($member.accessor).isEmpty()) {
            sb.append("[");
            final int listSize = ($member.accessor).size();
            for (int i = 0; i < listSize; i++) {
                final Object listValue=($member.accessor).get(i);
                if (listValue instanceof CharSequence) {
                    sb.append("\"").append(java.util.Objects.toString(listValue,"")).append("\"");
                } else {
                    sb.append(java.util.Objects.toString(listValue,""));
                }
                if (i < listSize - 1) {
                    sb.append(",");
                } else {
                    sb.append("]");
                }
            }
        } else {
            sb.append("[]");
        }
        sb.append(',');
    }
    #elseif($member.collection)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":");
        if (!($member.accessor).isEmpty()) {
            sb.append("[");
            for (java.lang.Object collectionValue: $member.accessor) {
                sb.append("\"").append(java.util.Objects.toString(collectionValue,"")).append("\",");
            }
            sb.replace(sb.length() - 1, sb.length(), "]");
        } else {
            sb.append("[]");
        }
        sb.append(',');
    }
    #elseif($member.object)
    if ($member.accessor != null) {
        sb.append("\"$member.name\":");
        String objectStr = ${member.name}.toString().trim();
        if (objectStr.startsWith("{") && objectStr.endsWith("}")) {
            sb.append(objectStr);
        } else if (objectStr.startsWith("[") && objectStr.endsWith("]")) {
            sb.append(objectStr);
        } else {
            sb.append("\"").append(objectStr).append("\"");
        }
        sb.append(',');
    }
    #else
    sb.append("\"$member.name\":").append($member.accessor).append(',');
    #end
#end
return sb.replace(sb.length() - 1, sb.length(), "}").toString();
}